Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

push_artifactory-cleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_artifactory-cleaner_to_public:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  needs:
  - push_artifactory-cleaner_to_internal
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  ...

push_aws-amicleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-nuke_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-pod-identity-webhook_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_beacher-job_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_chartmuseum_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_stackstate-k8s_to_internal:
  before_script:
  - helm repo add bitnami https://charts.bitnami.com/bitnami
  - helm repo add bitnami-full-archive https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  ...

Updating stackstate version to 7.0.0-snapshot.20241011101034-master-a611b5f
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.21
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241011110505-master-5eed3c1
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.22
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241015065410-master-13eb3fd
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.23
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-0: Allow tephra to start on profiles with low resources
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/tephra-statefulset.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.24
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241016114653-master-9247918
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.25
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241016123901-master-be9da12
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.26
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241016130655-master-586c532
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.27
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241016183219-master-bba2b1f
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.28
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Fix behavior of backup scripts when pods are pending
  stable/stackstate-k8s/restore/backup-configuration-now.sh
  stable/stackstate-k8s/restore/download-configuration-backup.sh
  stable/stackstate-k8s/restore/list-configuration-backups.sh
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
  stable/stackstate-k8s/restore/upload-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Store backups in root of bucket, not subdir
  stable/stackstate-k8s/scripts/backup-configuration.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Apply similar fix also to other backups
  stable/stackstate-k8s/restore/list-elasticsearch-snapshots.sh
  stable/stackstate-k8s/restore/list-stackgraph-backups.sh
  stable/stackstate-k8s/restore/list-victoria-metrics-backups.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Automatically finish restore log
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Fix waiting for pod
  stable/stackstate-k8s/restore/download-configuration-backup.sh
  stable/stackstate-k8s/restore/upload-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Return non-zero exit code when restoring backup fails
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Store backups in root of bucket, not subdir
  stable/suse-observability/scripts/backup-configuration.sh
Due: none

STAC-21755 Fix waiting for pod
  stable/suse-observability/restore/download-configuration-backup.sh
  stable/suse-observability/restore/upload-configuration-backup.sh
Due: none

STAC-21755 Return non-zero exit code when restoring backup fails
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Add extra info to failed job output
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Make backup cronjobs use same setup as other pods So they have their own resources and (init) containers have at least a default fallback for resource requests and limits
  stable/suse-observability/README.md
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/values.yaml
Due: none

STAC-21755 Automatically finish restore log
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Apply similar fix also to other backups
  stable/suse-observability/restore/list-elasticsearch-snapshots.sh
  stable/suse-observability/restore/list-stackgraph-backups.sh
  stable/suse-observability/restore/list-victoria-metrics-backups.sh
Due: none

STAC-21755 Remove restore job after script finishes
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Avoid error exit codes when everything goes ok
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Fix behavior of backup scripts when pods are pending
  stable/suse-observability/restore/backup-configuration-now.sh
  stable/suse-observability/restore/download-configuration-backup.sh
  stable/suse-observability/restore/list-configuration-backups.sh
  stable/suse-observability/restore/restore-configuration-backup.sh
  stable/suse-observability/restore/upload-configuration-backup.sh
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.29
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-0 Fix renaming of images
  .gitlab/publish-suse-agent-to-rancher.sh
Due: none

STAC-0 Bump agent helm chart version
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21577 Fix script too
  stable/suse-observability/scripts/backup-configuration.sh
Due: none

STAC-21755 Fix indentation in cronjob
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/pvc-backup.yaml
Due: none

STAC-21755 Make backup cronjobs use same setup as other pods So they have their own resources and (init) containers have at least a default fallback for resource requests and limits
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/cronjob-backup.yaml
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

STAC-21755 Avoid error exit codes when everything goes ok
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Remove restore job after script finishes
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*
