Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

push_artifactory-cleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_artifactory-cleaner_to_public:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  needs:
  - push_artifactory-cleaner_to_internal
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  ...

push_aws-amicleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-nuke_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-pod-identity-webhook_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_beacher-job_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_chartmuseum_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_stackstate-k8s_to_internal:
  before_script:
  - helm repo add bitnami https://charts.bitnami.com/bitnami
  - helm repo add bitnami-full-archive https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  ...

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.40
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241022141454-master-f3562c4
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.41
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241023085837-master-4058b19
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.42
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241023095846-master-4534d26
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.43
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21874 Fixing backup with handlebars in field
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating stackpacks version to 20241023120811-master-3b44c5c
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.44
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-0 Undo version bump changes Leave that up to the automation that runs when tagging
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20241023120154-master-d7ba998
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.45
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241023133226-master-a9f30a7
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.46
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating 'stable/stackstate-k8s' helm chart version to 1.12.0
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 1.12.1-pre.1
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-0: Fix zookeeper for quorum of single-pod sg:
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.47
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21693 Make it easier to download backup scripts By storing them as an asset on the helm chart release
  .github/workflows/main.yml
Due: none

chore(stackstate): Upgrade StackGraph to version 7.7.7.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.49
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

[chore] [publish-k8s-agent] [publish-suse-observability-agent] Update agent images to latest pre-prod commit at 2024-10-29_00:05:37
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
  stable/suse-observability-agent/values.yaml
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

Updating stackstate version to 7.0.0-snapshot.20241028133908-master-6846530
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.50
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Ditch admin/instance auth and platform-admin
  stable/suse-observability-values/README.md
  stable/suse-observability-values/templates/_functions.tpl
  stable/suse-observability-values/templates/baseConfig_values.yaml
  stable/suse-observability-values/values.yaml
  stable/suse-observability/README.md
  stable/suse-observability/sts-authz-permissions/stackstate-admin.json
  stable/suse-observability/sts-authz-permissions/stackstate-platform-admin.json
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/_helper.tpl
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-checks.yaml
  stable/suse-observability/templates/deployment-healthSync.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-notification.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
  stable/suse-observability/templates/secret-common.yaml
  stable/suse-observability/test/authentication_test.go
  stable/suse-observability/test/values/authentication_roles.yaml
  stable/suse-observability/test/values/authentication_roles_dots.yaml
  stable/suse-observability/test/values/authentication_roles_empty.yaml
  stable/suse-observability/test/values/authentication_saas_ignoredroles.yaml
  stable/suse-observability/test/values/file_authentication.yaml
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.0
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-0 Fix github action for next release
  .github/workflows/main.yml
Due: none

STAC-21825: Minio use global storageClass and imagePullSecrets
  stable/minio/Chart.lock
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/templates/pvc.yaml
  stable/minio/templates/statefulset.yaml
  stable/minio/values.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: push_minio_to_internal, push_minio_to_public

STAC-21825: Use the global storageClass and imagePullSecrets on victoria metrics single
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/requirements.lock
  stable/victoria-metrics-single/templates/_helpers.tpl
  stable/victoria-metrics-single/templates/server-pvc.yaml
  stable/victoria-metrics-single/templates/server-statefulset.yaml
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-21825: Fix global registry for Minio, Victoria Metrics and prometheus-elasticsearch-exporter
  stable/elasticsearch/Chart.lock
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
  stable/minio/templates/_helpers.tpl
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/values.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/templates/_helpers.tpl
  stable/victoria-metrics-single/templates/server-statefulset.yaml
  stable/victoria-metrics-single/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public, push_minio_to_internal, push_minio_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-21825: Update Clickhouse to use the global registry
  stable/suse-observability/README.md
  stable/suse-observability/templates/_helper.tpl
  stable/suse-observability/templates/cronjob-clickhouse-backup.yaml
  stable/suse-observability/values.yaml
Due: none

STAC-21825: Fix clickhouse backup image and bump aad
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-clickhouse-backup.yaml
Due: none

STAC-21825: Fix ES global storageClassName
  stable/elasticsearch/templates/statefulset.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.143.
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

chore(stackstate): Upgrade StackGraph to version 7.8.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-21827: Ditch admin port and fix topology retention
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-server.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.1
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241029135657-master-88ad0d4
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.2
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*
