Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

push_artifactory-cleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_artifactory-cleaner_to_public:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  needs:
  - push_artifactory-cleaner_to_internal
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  ...

push_aws-amicleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-nuke_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-pod-identity-webhook_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_beacher-job_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_chartmuseum_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_stackstate-k8s_to_internal:
  before_script:
  - helm repo add bitnami https://charts.bitnami.com/bitnami
  - helm repo add bitnami-full-archive https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  ...

Updating stackstate version to 7.0.0-snapshot.20240910094616-master-44dd639
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.28
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20240910103137-master-9856983
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.29
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackpacks version to 20240910151450-master-c4ea0b3
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.30
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21659 Renamed minio for victoria-metrics
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/values.yaml
Due: push_stackstate-k8s_to_internal, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.31
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21659 Even more StackState references and pull secret is not required
  stable/suse-observability-values/README.md
  stable/suse-observability-values/README.md.gotmpl
  stable/suse-observability-values/templates/valuegenerator.yaml
  stable/suse-observability-values/test/values/pullsecret.yaml
  stable/suse-observability-values/test/values/required.yaml
  stable/suse-observability-values/test/values_generator_test.go
  stable/suse-observability-values/values.yaml
Due: none

STAC-21659 Update readme and comments in values
  stable/suse-observability-values/README.md
  stable/suse-observability-values/README.md.gotmpl
  stable/suse-observability-values/values.yaml
Due: none

STAC-21659 Skip kubeconform and only provide required values
  .gitlab/validate_kubeconform.sh
  stable/suse-observability-values/linter_values.yaml
Due: none

STAC-21659 Also publish suse-observability-values chart to rancher repository
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/publish-suse-agent-to-rancher.sh
  .gitlab/publish-suse-observability-values-to-rancher.sh
  .gitlab/util.sh
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/suse-observability-values/Chart.yaml
  stable/suse-observability-values/README.md
  stable/suse-observability-values/README.md.gotmpl
  stable/suse-observability-values/linter_values.yaml
  stable/suse-observability-values/templates/_functions.tpl
  stable/suse-observability-values/templates/valuegenerator.yaml
  stable/suse-observability-values/test/values/apikey.yaml
  stable/suse-observability-values/test/values/bcryptpasswords.yaml
  stable/suse-observability-values/test/values/plaintextpasswords.yaml
  stable/suse-observability-values/test/values/required.yaml
  stable/suse-observability-values/test/values_generator_test.go
  stable/suse-observability-values/values.yaml
Due: none

STAC-21659 Fix optionality of pull secret
  stable/suse-observability-values/Chart.yaml
  stable/suse-observability-values/README.md
  stable/suse-observability-values/test/values_generator_test.go
  stable/suse-observability-values/values.yaml
Due: none

Updating stackstate version to 7.0.0-snapshot.20240911112250-master-f9361e0
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.32
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21720 Fixed backups and restore of VictoriaMetrics
  stable/stackstate-k8s/restore/restore-victoria-metrics-backup.sh
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate-k8s_to_internal

STAC-21720 Fixed backups and restore of ClickHouse
  stable/stackstate-k8s/restore/list-clickhouse-backups.sh
  stable/stackstate-k8s/restore/restore-clickhouse-backup.sh
  stable/stackstate-k8s/scripts/backup-clickhouse-full-backup.sh
  stable/stackstate-k8s/scripts/backup-clickhouse-incremental-backup.sh
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0-pre.33
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.0
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.1-pre.1
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20240911153753-master-850ab41
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.1-pre.2
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackpacks version to 20240912080919-master-58c2306
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.1-pre.3
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20240912093814-master-9a8840f
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.1-pre.4
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21720 Fixed backups and restore of stackgraph
  stable/stackstate-k8s/sts-authz-permissions/stackstate-k8s-backup.json
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/templates/cronjob-backup.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 2.0.1-pre.5
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating 'stable/suse-observability' helm chart version to 2.0.1-pre.6
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21732 Fix suse-observablity tests
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21732 Fix suse-observablity tests
  stable/suse-observability/test/authentication_test.go
  stable/suse-observability/test/cache_backend_test.go
  stable/suse-observability/test/cluster_resource_naming_test.go
  stable/suse-observability/test/docs_config_test.go
  stable/suse-observability/test/generic_service_test.go
  stable/suse-observability/test/hbase25_image_prefix_test.go
  stable/suse-observability/test/k2es_disk_space_test.go
  stable/suse-observability/test/pull_secret_test.go
  stable/suse-observability/test/run_config_test.go
  stable/suse-observability/test/sample_test.go
  stable/suse-observability/test/services_java_heap_test.go
  stable/suse-observability/test/services_parallelism_test.go
  stable/suse-observability/test/services_yaml_max_test.go
  stable/suse-observability/test/stackpack_config_test.go
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.1-pre.7
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21728 Updated default images for VM cluster
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.1-pre.8
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20240917134727-master-cc299e2
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.1-pre.9
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20240917141754-master-eb9ba54
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.1-pre.10
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20240918073313-master-966cde6
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*
