Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

push_artifactory-cleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_artifactory-cleaner_to_public:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  needs:
  - push_artifactory-cleaner_to_internal
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  ...

push_aws-amicleaner_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-nuke_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_aws-pod-identity-webhook_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_beacher-job_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_chartmuseum_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_internal:
  image: ${DOCKER_PROXY_URL}/stackstate/sts-ci-images:stackstate-devops-fd4b135a
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_stackstate-k8s_to_internal:
  before_script:
  - helm repo add bitnami https://charts.bitnami.com/bitnami
  - helm repo add bitnami-full-archive https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  ...

chore(stackstate): Upgrade StackGraph to version 7.7.5.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.33
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241002142924-master-e9cfdc0
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.34
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241003113341-master-9fb862a
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.35
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Add yes/no question to restore backup
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Change settings backup to use new mechanism
  stable/suse-observability/README.md
  stable/suse-observability/restore/backup-configuration-now.sh
  stable/suse-observability/restore/download-configuration-backup.sh
  stable/suse-observability/restore/list-configuration-backups.sh
  stable/suse-observability/restore/list-elasticsearch-snapshots.sh
  stable/suse-observability/restore/list-victoria-metrics-backups.sh
  stable/suse-observability/restore/restore-configuration-backup.sh
  stable/suse-observability/restore/upload-configuration-backup.sh
  stable/suse-observability/scripts/backup-configuration.sh
  stable/suse-observability/scripts/download-configuration-backup.sh
  stable/suse-observability/scripts/list-configuration-backups.sh
  stable/suse-observability/scripts/restore-configuration-backup.sh
  stable/suse-observability/scripts/upload-configuration-backup.sh
  stable/suse-observability/templates/_helper-backup.tpl
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/pvc-backup.yaml
  stable/suse-observability/values.yaml
Due: none

STAC-21755 Fix log following
  stable/suse-observability/restore/backup-configuration-now.sh
Due: none

STAC-21577 Smarter wait for pod termination
  stable/suse-observability/restore/restore-configuration-backup.sh
Due: none

STAC-21755 Fix cleanup of old backups
  stable/suse-observability/scripts/backup-configuration.sh
  stable/suse-observability/scripts/list-configuration-backups.sh
Due: none

STAC-21755 Fix validation
  .gitlab/validate_kubeconform.sh
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.36
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Change settings backup to use new mechanism
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/restore/backup-configuration-now.sh
  stable/stackstate-k8s/restore/download-configuration-backup.sh
  stable/stackstate-k8s/restore/list-configuration-backups.sh
  stable/stackstate-k8s/restore/list-elasticsearch-snapshots.sh
  stable/stackstate-k8s/restore/list-victoria-metrics-backups.sh
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
  stable/stackstate-k8s/restore/upload-configuration-backup.sh
  stable/stackstate-k8s/scripts/backup-configuration.sh
  stable/stackstate-k8s/scripts/download-configuration-backup.sh
  stable/stackstate-k8s/scripts/list-configuration-backups.sh
  stable/stackstate-k8s/scripts/restore-configuration-backup.sh
  stable/stackstate-k8s/scripts/upload-configuration-backup.sh
  stable/stackstate-k8s/templates/_helper-backup.tpl
  stable/stackstate-k8s/templates/_helper-service-config.tpl
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/templates/cronjob-backup.yaml
  stable/stackstate-k8s/templates/pvc-backup.yaml
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating stackpacks version to 20241003140621-master-374a25a
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

STAC-21755 Add yes/no question to restore backup
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Fix log following
  stable/stackstate-k8s/restore/backup-configuration-now.sh
Due: push_stackstate-k8s_to_internal

STAC-21755 Fix cleanup of old backups
  stable/stackstate-k8s/scripts/backup-configuration.sh
  stable/stackstate-k8s/scripts/list-configuration-backups.sh
Due: push_stackstate-k8s_to_internal

STAC-21577 Smarter wait for pod termination
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.37
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Fix stackstate naming
  stable/stackstate-k8s/restore/backup-configuration-now.sh
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/templates/cronjob-backup.yaml
Due: push_stackstate-k8s_to_internal

STAC-21755 Also remove unnecessary service account and role
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/templates/role-backup.yaml
  stable/stackstate-k8s/templates/rolebinding-backup.yaml
  stable/stackstate-k8s/templates/serviceaccount-backup.yaml
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20241004090331-master-1e0fee0
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.38
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241004091956-master-dab6956
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2-pre.39
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.2
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.1
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.2
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Create a job that mounts the backup-settings pvc This makes sure the PVC moves from 'pending' to 'ready' even when it uses a storageClass with 'WaitForConsumer' binding mode.
  stable/stackstate-k8s/templates/job-backup-conf-init.yaml
Due: push_stackstate-k8s_to_internal

STAC-21755 Restrict name length
  stable/stackstate-k8s/templates/job-backup-conf-init.yaml
Due: push_stackstate-k8s_to_internal

STAC-21775 Fix backup now again
  stable/stackstate-k8s/restore/backup-configuration-now.sh
Due: push_stackstate-k8s_to_internal

Updating stackpacks version to 20241004132741-master-df78c20
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.3
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241004144238-master-9502a2c
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.4
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Rename job
  stable/suse-observability/restore/backup-configuration-now.sh
Due: none

STAC-21755 Also remove unnecessary service account and role
  stable/suse-observability/sts-authz-permissions/stackstate-k8s-backup.json
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/role-backup.yaml
  stable/suse-observability/templates/rolebinding-backup.yaml
  stable/suse-observability/templates/serviceaccount-backup.yaml
Due: none

STAC-21755 Restrict name length
  stable/suse-observability/templates/job-backup-conf-init.yaml
Due: none

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*
