Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*

STAC-21827: Drop generated admi api password
  stable/suse-observability-values/templates/baseConfig_values.yaml
Due: none

STAC-0: Stronger durability guarantees for hbase
  stable/hbase/templates/stackgraph-statefulset.yaml
  stable/hbase/templates/stackgraph-svc.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-0: Bump hbase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.12
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21918: Fix test as value is in the hbase subchart
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/pvc-stackpacks-local.yaml
Due: none

STAC-21918: Make persistent the local stackpacks when using the local filesystem
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
  stable/suse-observability/templates/pvc-stackpacks-local.yaml
  stable/suse-observability/test/cluster_resource_naming_test.go
  stable/suse-observability/test/stackpack_config_test.go
  stable/suse-observability/test/values/stackpack_config_mono_hbase.yaml
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.13
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241101153145-master-5856751
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.14
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Only allow alphanum and _ for users
  helmtestutil/helmtestutil.go
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/secret-auth.yaml
  stable/suse-observability/test/authentication_test.go
  stable/suse-observability/test/stackpack_config_test.go
  stable/suse-observability/test/values/file_authentication.yaml
  stable/suse-observability/test/values/file_authentication_invalid.yaml
Due: none

STAC-21827: Minor review comments
  stable/suse-observability/README.md
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.15
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241104092811-master-87d1c0d
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.16
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241105081109-master-217e84a
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.17
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21941 Fix cronjob keeping serviceAccount after upgrade
  stable/stackstate-k8s/templates/cronjob-backup.yaml
Due: push_stackstate-k8s_to_internal

STAC-21942 Fix cronjob keeping serviceAccount after upgrade
  stable/suse-observability/templates/cronjob-backup.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.18
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating 'stable/stackstate-k8s' helm chart version to 1.12.1
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating 'stable/stackstate-k8s' helm chart version to 1.12.2-pre.1
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20241108101217-master-6609556
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.19
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21923 Increased ClickHouse Memory
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.20
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241108171605-master-922ad76
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.21
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21888 security updates for promtail
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
  stable/suse-observability-agent/README.md
  stable/suse-observability-agent/values.yaml
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21888 bump chart versions
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21966 Init job names could be too long After rename to SUSE Observability
  stable/suse-observability/templates/job-backup-conf-init.yaml
  stable/suse-observability/templates/job-backup-init.yaml
  stable/suse-observability/templates/job-kafka-topic-create.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.22
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21887: Bump hadoop to 3.4.1
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-21887: Finalize potential upgrades
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.23
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

[chore] [publish-k8s-agent] [publish-suse-observability-agent] Update agent images to latest pre-prod commit at 2024-11-12_00:04:55
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
  stable/suse-observability-agent/values.yaml
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

Updating stackstate version to 7.0.0-snapshot.20241112120254-master-1df0f19
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.24
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241112130618-master-3aa249e
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.25
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21965 Add comments to all email values
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none
