Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*

STAC-21755 Add extra info to failed job output
  stable/stackstate-k8s/restore/restore-configuration-backup.sh
Due: push_stackstate-k8s_to_internal

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.30
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Fix indentation in cronjob
  stable/stackstate-k8s/templates/cronjob-backup.yaml
  stable/stackstate-k8s/templates/pvc-backup.yaml
Due: push_stackstate-k8s_to_internal

STAC-21577 Fix script too
  stable/stackstate-k8s/scripts/backup-configuration.sh
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20241018144637-master-27f0cf4
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.31
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241018124728-master-6002a37
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.32
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241021094157-master-355f951
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.33
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241021113514-master-1d48fe4
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

STAC-21755 Bump to new stackstate-k8s version
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_stackstate-k8s_to_internal

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.34
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241021113443-master-f8cac04
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.35
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Prepare for release of stacksate 6.x
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21755 Fix cronjob after merge
  stable/stackstate-k8s/templates/cronjob-backup.yaml
Due: push_stackstate-k8s_to_internal

STAC-21790 Job to list and validate charts
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 Fixed the job to publish charts to test helm repo
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  test/sync-repo.sh
Due: none

STAC-21790 Fixed to verification jobs
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 refactored push to test charts
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 refactoring of testing charts
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 Deleted old validation jobs
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 deleted itest from gitlab CI - we don't have integration tests
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 Check if versions has been bumped
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/verify_versions_bumped.sh
Due: none

STAC-21790 Added doc
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21790 job to build a chart with all dependencies
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-21755 Fix cronjob lookup in script
  stable/stackstate-k8s/restore/backup-configuration-now.sh
Due: push_stackstate-k8s_to_internal

Updating stackstate version to 7.0.0-snapshot.20241021140318-master-343cdce
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.36
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21755 Bump minor version instead, new features added
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: push_stackstate-k8s_to_internal

STAC-21823: Fix storage class and mono-stackgraph
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/stackgraph-statefulset.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/restore/backup-stackgraph-now.sh
  stable/suse-observability/templates/_helper-endpoints.tpl
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-checks.yaml
  stable/suse-observability/templates/deployment-healthSync.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-notification.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
  stable/suse-observability/templates/job-kafka-topic-create.yaml
  stable/suse-observability/templates/statefulset-vmagent.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-21823: Fix quotes and whitespaces
  stable/suse-observability/templates/_helper-endpoints.tpl
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-checks.yaml
  stable/suse-observability/templates/deployment-healthSync.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-notification.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
  stable/suse-observability/templates/job-kafka-topic-create.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.37
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241021162810-master-15c06e1
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.38
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21869: Require minimal helm version for otel
  stable/suse-observability/templates/configmap-otel-collector.yaml
Due: none

STAC-21869: Add comment
  stable/suse-observability/templates/configmap-otel-collector.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.39
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-0: the chart has been renamed, let aad reach the router
  stable/suse-observability/templates/_helper.tpl
Due: none
