Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*

STAC-21827: Bump values chart version
  stable/suse-observability-values/Chart.yaml
  stable/suse-observability-values/README.md
  stable/suse-observability/README.md
Due: none

STAC-21825: Fix default repository
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/values.yaml
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.3
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241029141238-master-64f529c
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.4
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Fix tests
  stable/suse-observability-values/test/values_generator_test.go
Due: none

Updating stackpacks version to 20241030082847-master-713f2a0
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.5
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21927: Make instance api conditional
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-checks.yaml
  stable/suse-observability/templates/deployment-healthSync.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-notification.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
Due: none

Updating stackstate version to 7.0.0-snapshot.20241030121207-master-4da5474
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.6
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Bump values chart version
  stable/suse-observability-values/Chart.yaml
  stable/suse-observability-values/README.md
Due: none

STAC-21827: Ditch admin port and fix topology retention
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-server.yaml
Due: none

STAC-21827: Ditch admin/instance auth and platform-admin
  stable/suse-observability-values/README.md
  stable/suse-observability-values/templates/_functions.tpl
  stable/suse-observability-values/templates/baseConfig_values.yaml
  stable/suse-observability-values/values.yaml
  stable/suse-observability/README.md
  stable/suse-observability/sts-authz-permissions/stackstate-admin.json
  stable/suse-observability/sts-authz-permissions/stackstate-platform-admin.json
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/_helper-service-config.tpl
  stable/suse-observability/templates/_helper.tpl
  stable/suse-observability/templates/configmap-backup-restore-scripts.yaml
  stable/suse-observability/templates/cronjob-backup.yaml
  stable/suse-observability/templates/deployment-api.yaml
  stable/suse-observability/templates/deployment-checks.yaml
  stable/suse-observability/templates/deployment-healthSync.yaml
  stable/suse-observability/templates/deployment-initializer.yaml
  stable/suse-observability/templates/deployment-notification.yaml
  stable/suse-observability/templates/deployment-server.yaml
  stable/suse-observability/templates/deployment-slicing.yaml
  stable/suse-observability/templates/deployment-state.yaml
  stable/suse-observability/templates/deployment-sync.yaml
  stable/suse-observability/templates/secret-common.yaml
  stable/suse-observability/test/authentication_test.go
  stable/suse-observability/test/values/authentication_roles.yaml
  stable/suse-observability/test/values/authentication_roles_dots.yaml
  stable/suse-observability/test/values/authentication_roles_empty.yaml
  stable/suse-observability/test/values/authentication_saas_ignoredroles.yaml
  stable/suse-observability/test/values/file_authentication.yaml
  stable/suse-observability/values.yaml
Due: none

Add Agent icon for Rancher UI
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.7
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241030130433-master-bb78157
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.8
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21825: Start using new local charts
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/templates/_helpers.tpl
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-21825: Add support for global imageRegistry and global pull secrets for victoria-metrics-cluster
  stable/victoria-metrics-cluster/Chart.lock
  stable/victoria-metrics-cluster/Chart.yaml
  stable/victoria-metrics-cluster/templates/_helpers.tpl
  stable/victoria-metrics-cluster/templates/_image.tpl
  stable/victoria-metrics-cluster/templates/_storageclass.yaml
  stable/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  stable/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  stable/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  stable/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  stable/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  stable/victoria-metrics-cluster/values.yaml
Due: none

STAC-21825: Add support for global imageRegistry and global pull secrets for opentelemetry-collector
  stable/opentelemetry-collector/Chart.yaml
  stable/opentelemetry-collector/templates/_helpers.tpl
  stable/opentelemetry-collector/templates/_pod.tpl
Due: none

STAC-21825: Copy victoria-metrics-cluster helm chart version 0.14.6
  stable/victoria-metrics-cluster/.helmignore
  stable/victoria-metrics-cluster/CHANGELOG.md
  stable/victoria-metrics-cluster/Chart.lock
  stable/victoria-metrics-cluster/Chart.yaml
  stable/victoria-metrics-cluster/README.md
  stable/victoria-metrics-cluster/README.md.gotmpl
  stable/victoria-metrics-cluster/_changelog.md
  stable/victoria-metrics-cluster/_index.md
  stable/victoria-metrics-cluster/templates/NOTES.txt
  stable/victoria-metrics-cluster/templates/_helpers.tpl
  stable/victoria-metrics-cluster/templates/extra-objects.yaml
  stable/victoria-metrics-cluster/templates/extra-secrets.yaml
  stable/victoria-metrics-cluster/templates/hpa.yaml
  stable/victoria-metrics-cluster/templates/ingress.yaml
  stable/victoria-metrics-cluster/templates/pdb.yaml
  stable/victoria-metrics-cluster/templates/service-monitor.yaml
  stable/victoria-metrics-cluster/templates/service.yaml
  stable/victoria-metrics-cluster/templates/serviceaccount.yaml
  stable/victoria-metrics-cluster/templates/vmauth-config.yaml
  stable/victoria-metrics-cluster/templates/vmauth-deployment.yaml
  stable/victoria-metrics-cluster/templates/vminsert-deployment.yaml
  stable/victoria-metrics-cluster/templates/vmselect-deployment.yaml
  stable/victoria-metrics-cluster/templates/vmselect-statefulset.yaml
  stable/victoria-metrics-cluster/templates/vmstorage-statefulset.yaml
  stable/victoria-metrics-cluster/values-sidecar.yaml
  stable/victoria-metrics-cluster/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.9
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Make sure user passwords work through env
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/secret-auth.yaml
Due: none

STAC-21927: Add tests
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/templates/secret-auth.yaml
  stable/suse-observability/test/authentication_test.go
  stable/suse-observability/test/docs_config_test.go
  stable/suse-observability/test/run_config_test.go
  stable/suse-observability/test/stackpack_config_test.go
  stable/suse-observability/test/values/file_authentication.yaml
Due: none

STAC-21827: Fix typo
  stable/suse-observability/templates/secret-auth.yaml
Due: none

Updating stackstate version to 7.0.0-snapshot.20241031121908-master-7c251eb
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.10
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21827: Revert weird version bump
  stable/victoria-metrics-single/README.md
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-21827: Bump values chart
  stable/suse-observability-values/Chart.yaml
  stable/suse-observability-values/README.md
  stable/victoria-metrics-single/README.md
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-21827: Bump victoria metrics
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-0 Fixing CVEs
  stable/opentelemetry-collector/README.md
  stable/stackstate-k8s-agent/Chart.lock
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/suse-observability-agent/Chart.lock
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
  stable/suse-observability/README.md
  stable/victoria-metrics-single/README.md
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

STAC-0 bumping chart versions
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21827: Fix test
  stable/suse-observability-values/test/values_generator_test.go
Due: none

STAC-0 bumping chart versions [2]
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
Due: push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Updating 'stable/suse-observability' helm chart version to 2.1.2-pre.11
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none
