Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_artifactory-cleaner_to_internal, push_artifactory-cleaner_to_public, push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_falco-reporter_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_hbase_to_public, push_helm-reaper_to_internal, push_iceman_to_internal, push_k8s-image-list-to-s3_to_internal, push_k8s-spot-termination-handler_to_internal, push_kafkaup-operator_to_internal, push_kafkaup-operator_to_public, push_kommoner-operator_to_internal, push_minio_to_internal, push_minio_to_public, push_otel-demo_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_pull-secret_to_internal, push_pull-secret_to_public, push_receiveramplifier_to_internal, push_redirector_to_internal, push_sandbox-operator_to_internal, push_sock-shop_to_internal, push_stackstate-agent_to_internal, push_stackstate-agent_to_public, push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public, push_stackstate-k8s_to_internal, push_stackstate-monitoring_to_internal, push_stackstate-monitoring_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate-values_to_internal, push_stackstate-values_to_public, push_stackstate_to_internal, push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher, push_tenantmanager_to_internal, push_trafficmirror_to_internal, push_trafficmirror_to_public, push_victoria-metrics-single_to_internal, push_victoria-metrics-single_to_public

Path conditions:
  push_artifactory-cleaner_to_internal: any of: stable/artifactory-cleaner/**/*
  push_artifactory-cleaner_to_public: any of: stable/artifactory-cleaner/**/*
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_falco-reporter_to_internal: any of: stable/falco-reporter/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_helm-reaper_to_internal: any of: stable/helm-reaper/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_k8s-image-list-to-s3_to_internal: any of: stable/k8s-image-list-to-s3/**/*
  push_k8s-spot-termination-handler_to_internal: any of: stable/k8s-spot-termination-handler/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kafkaup-operator_to_public: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_minio_to_public: any of: stable/minio/**/*
  push_otel-demo_to_internal: any of: stable/otel-demo/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_pull-secret_to_internal: any of: stable/pull-secret/**/*
  push_pull-secret_to_public: any of: stable/pull-secret/**/*
  push_receiveramplifier_to_internal: any of: stable/receiveramplifier/**/*
  push_redirector_to_internal: any of: stable/redirector/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_sock-shop_to_internal: any of: stable/sock-shop/**/*
  push_stackstate-agent_to_internal: any of: stable/stackstate-agent/**/*
  push_stackstate-agent_to_public: any of: stable/stackstate-agent/**/*
  push_stackstate-k8s-agent_to_internal: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s-agent_to_public: any of: stable/stackstate-k8s-agent/**/*
  push_stackstate-k8s_to_internal: any of: stable/stackstate-k8s/**/*
  push_stackstate-monitoring_to_internal: any of: stable/stackstate-monitoring/**/*
  push_stackstate-monitoring_to_public: any of: stable/stackstate-monitoring/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate-values_to_internal: any of: stable/stackstate-values/**/*
  push_stackstate-values_to_public: any of: stable/stackstate-values/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_suse-observability-agent_to_internal: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_public: any of: stable/suse-observability-agent/**/*
  push_suse-observability-agent_to_rancher: any of: stable/suse-observability-agent/**/*
  push_tenantmanager_to_internal: any of: stable/tenantmanager/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
  push_victoria-metrics-single_to_internal: any of: stable/victoria-metrics-single/**/*
  push_victoria-metrics-single_to_public: any of: stable/victoria-metrics-single/**/*

STAC-21755 Create a job that mounts the backup-settings pvc This makes sure the PVC moves from 'pending' to 'ready' even when it uses a storageClass with 'WaitForConsumer' binding mode.
  stable/suse-observability/templates/job-backup-conf-init.yaml
Due: none

STAC-21755 Fix backup now script
  stable/suse-observability/restore/backup-configuration-now.sh
  stable/suse-observability/templates/cronjob-backup.yaml
Due: none

STAC-21775 Fix backup now again
  stable/suse-observability/restore/backup-configuration-now.sh
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.5
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241004124828-master-345c818
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.6
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241007053755-master-d08f245
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.7
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21718 Enable OpenTelemetry by default
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

STAC-21718 Suspended some warnings from ClickHouse and OpenTelemetry
  helmtestutil/KubernetesResources.go
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.8
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241007101011-master-0c6d5b7
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.9
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

[chore] [publish-k8s-agent] [publish-suse-observability-agent] Update agent images to latest pre-prod commit at 2024-10-08_07:07:30
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public

[chore] [publish-k8s-agent] [publish-suse-observability-agent] Update agent images to latest pre-prod commit at 2024-10-08_09:39:34
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
  stable/suse-observability-agent/values.yaml
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21811 Update schema of otel collector extension to use `SUSE-Observability` schema
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Revert "[chore] [publish-k8s-agent] [publish-suse-observability-agent] Update agent images to latest pre-prod commit at 2024-10-08_07:07:30"
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public

STAC-21039: Bump version after revert
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: push_stackstate-k8s-agent_to_internal, push_stackstate-k8s-agent_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.10
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21551: add supportMode to webUIConfig
  stable/suse-observability/README.md
  stable/suse-observability/templates/_helper-server-and-api-configmap.tpl
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.11
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241008124215-master-5331d46
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.12
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241008133727-master-7b64726
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.13
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21811 Update schema of otel collector extension to use `SUSEObservability` schema
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.14
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackpacks version to 20241009182502-master-35cbac8
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.15
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

STAC-21771: Improve explanation
  stable/suse-observability-agent/questions.yml
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21771: Bupm chart
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/README.md
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

STAC-21771: Add readme and helper
  stable/suse-observability-agent/Chart.yaml
  stable/suse-observability-agent/app-readme.md
  stable/suse-observability-agent/questions.yml
  stable/suse-observability-agent/templates/_helpers.tpl
Due: push_suse-observability-agent_to_internal, push_suse-observability-agent_to_public, push_suse-observability-agent_to_rancher

Updating stackstate version to 7.0.0-snapshot.20241010140931-master-1299593
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.16
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241010152601-master-c66af37
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.17
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

chore(stackstate): Upgrade StackGraph to version 7.7.6.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/suse-observability/Chart.lock
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.19
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none

Updating stackstate version to 7.0.0-snapshot.20241011080507-master-d21d27e
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
  stable/suse-observability/values.yaml
Due: none

Updating 'stable/suse-observability' helm chart version to 2.0.3-pre.20
  stable/suse-observability/Chart.yaml
  stable/suse-observability/README.md
Due: none
